<div style="display:none"><h1>5 Whole Pixels</h1></div>
<div class="background" style="margin:0px">
	<% count = 0 %>
	<% until count > 2000 do %>
		<% @pixels.each do |pixel| %>
			<%= link_to(pixel
				#, method: :delete
			) do %>
			<div class="pixel" style="width:<%= pixel.width %>px; height:<%= pixel.height %>px; background-color:<%= pixel.color %>;float:left"></div>
			<% end %>
			<% count += 1 %>
		<% end %>
	<% end %>
	<%= link_to "/pixels/new" do %>
		<div class="add">+</div>
	<% end %>
</div>