<div class="show_pixel" style="width:<%= @pixel.width * 10 %>px; height:<%= @pixel.height * 10 %>px; background-color:<%= @pixel.color %>">
</div>
<div class="show_pixel">
	<p>Width: <%= @pixel.width %></p>
	<p>Height: <%= @pixel.height %></p>
	<p>Color: <%= @pixel.color %></p>
</div>